@model WebKhoSachMVC.Models.XuatKho

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Lockout.cshtml";
}

<h2>Xoá</h2>

<h3>Bạn có chắc chắn muốn xoá?</h3>
<div>
    <h4>Xuất Kho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Ngày Xuất</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuat)
        </dd>

        <dt>
            <p>Số Lượng Xuất</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongxuat)
        </dd>

        <dt>
            <p>Tên Sách</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
