@model IEnumerable<WebKhoSachMVC.Models.DanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Lockout.cshtml";
}

<h2>Danh mục</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Thể Loại
        </th>
        <th>
            Tên Kệ Sách
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeSach.TenKeSach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDanhMuc }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDanhMuc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDanhMuc })
        </td>
    </tr>
}

</table>
